DTD_II/equiposNBA.dtd

<!-- 
Nombre: Kaiet de Pablo
Curso: ASIR
Fecha: 03/04/2025
Ejercicio: DTD equiposNBA
-->
<!ELEMENT EquiposNBA (equipo+)>

<!ELEMENT equipo (nombre, titulos, posicion, quinteto)>
<!ATTLIST equipo conferencia CDATA #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulos (#PCDATA)>
<!ELEMENT posicion (#PCDATA)>
<!ELEMENT quinteto (#PCDATA)>